{{ 'section-product-slider.scss.css' | asset_url | stylesheet_tag }}


<div class="product-slider">

  <h2>{{ section.settings.title }}
  </h2>

  {% for block in section.blocks %}
    {%- case block.type -%}
      {%- when 'products' -%}
        {% for product_single in block.settings.product_list %}
          <h3>{{ product_single.title }}
          </h3>
          <img src="{{ product_single.featured_image | img_url: '600x600' }}"/>
        {% endfor %}
      {%- when 'text' -%}
        <p>{{ block.settings.richtext }}
        </p>
    {%- endcase -%}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Product Slider",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "products",
        "name": "products group",
        "settings": [
          {
            "type": "product_list",
            "id": "product_list",
            "label": "Product List"
          }
        ]
      }, 
      {
        "type": "text",
        "name": "paragraph",
        "settings": [
          {
            "type": "richtext",
            "id": "richtext",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Slider",
        "blocks": [
          {
            "type": "products"
          }, {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}
